@import "./tailwind.css";

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

input {
  border: 1px solid #d6d6d6;
}

html,
body,
#app {
  height: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

button {
  border: 1px solid #000;
  padding: 4px 6px;
  margin: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
button:active {
  background-color: rgba(0, 0, 0, 0.259);
}
